.step-txt .code-container{
    width: auto;
    min-width: 40vw;
    max-width: 90vw !important;
    clear: none;
    max-height: 90vh;
    overflow-x: auto;
}
.code-container>textarea.copy-code,
.code-container>code.copy-code,
.code-container>pre.copy-code {
    padding: 1%;
    border-radius: 8px;
    height: fit-content !important;
    width: 100%;
    min-width: 40vw;
    max-width: 100% !important;
    max-height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre;
}
