.lb {color: rgb(142, 200, 209);}
.b {color: blue;}
.gr {color: green !important;}
/* .gr-bor {border: 3px solid green !important;} */
.papa {
    color: rgb(146, 161, 37);
}
.g{color: gold;}
.m {
    font-weight: 600;
    color: rgb(131, 83, 183) !important;
}
.o {color: orange;}
.r{color: red;}
.t{color: lightseagreen;}
.ly{color: rgb(199, 199, 131);}
.y{color: yellow;}